{% extends 'layout.html' %}  {% comment "" %} Extending the layout{% endcomment %}
{% comment %} Css Styles {% endcomment %}
{% block styles %}

<style>
  body {
    background: #eee;
    color: #708090;
  }
  .icon-1x {
    font-size: 24px !important;
  }
  a {
    text-decoration: none;
  }
  .text-primary,
  a.text-primary:focus,
  a.text-primary:hover {
    color: #00adbb !important;
  }
  .text-black,
  .text-hover-black:hover {
    color: #000 !important;
  }
  .font-weight-bold {
    font-weight: 700 !important;
  }
</style>

{% endblock styles %} {% block body %}
<div class="container">
  <h5>Search Result for: {{search_query}}  {% comment "" %} Getting the search query that was passed to this page{% endcomment %}</h5>
  {% comment %} Iterating the post obtained using jinja template for loop {% endcomment %}
  {% for post in posts %} 
  {% comment %} Including the post.html from includes folder {% endcomment %}
  {% include "includes/post.html" %} 
  {% comment %} If No such post exist for the search query {% endcomment %}
  {% empty %}
  {% comment %} Showing message that there is no such post {% endcomment %}
  <center>
    <strong
      ><h5>No Such Post Found</h5>
      <a href="{% url 'home' %}">Return Home</a></strong> {% comment  %}Redirecting the User Back to home{% endcomment %}
  </center>

  {% endfor %}
</div>

{% endblock body %}
